# Task: make the accuracy 98% or more

In [83]:
import pandas as pd 
df = pd.read_csv('heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [84]:
target = df['target']
target

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [85]:
df = df.drop('target',axis='columns')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

# ranges need to be normalized

In [86]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols = df.columns.to_list()
for one in range(len(cols)):
    df[cols[one]] = scaler.fit_transform(df[[cols[one]]])

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.666667

# in order to find the best model with best accuracy grid search tool will be used

In [87]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [59]:
params = {'Lreg': {'model':LogisticRegression(),'params':{}},
         'svm': {'model':svm.SVC(),'params':{'C' :[6,5,3],'kernel':['rbf','linear']}},
         'Dtree':{ 'model':DecisionTreeClassifier(),'params':{}},
         'Rforest':{'model':RandomForestClassifier(),'params':{'n_estimators':[10,40,50,100]}},
         'NB': {'model':GaussianNB(),'params':{}}}
scores =[]
for key , value in params.items():
    Gsearch = GridSearchCV(value['model'],value['params'],return_train_score=False)
    Gsearch.fit(df,target)
    scores.append({'model_name': key, 'best_score':Gsearch.best_score_ , 'best_params': Gsearch.best_params_})
df_final = pd.DataFrame(scores)
df_final

  model_name  best_score                best_params
0       Lreg    0.831585                         {}
1        svm    0.837923  {'C': 3, 'kernel': 'rbf'}
2      Dtree    0.748852                         {}
3    Rforest    0.821639       {'n_estimators': 40}
4         NB    0.805082                         {}

# still didn't get the required accuracy

In [49]:
from sklearn.model_selection import cross_val_score

In [50]:
cross_val_score(LogisticRegression(),df,target)

array([0.83606557, 0.86885246, 0.81967213, 0.86666667, 0.76666667])

In [51]:
cross_val_score(svm.SVC(C=3,kernel='rbf'),df,target)

array([0.8852459 , 0.8852459 , 0.85245902, 0.76666667, 0.8       ])

In [52]:
cross_val_score(svm.SVC(C=5,kernel='rbf'),df,target)

array([0.86885246, 0.85245902, 0.85245902, 0.76666667, 0.8       ])

# now let's try KFold

In [53]:

def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test) # c

from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=20)

scores_logistic = []
scores_svm = []
scores_rf = []

for train_index, test_index in folds.split(df,target):
   
    X_train, X_test, y_train, y_test = df.iloc[train_index], df.iloc[test_index], target.iloc[train_index], target.iloc[test_index]
    scores_logistic.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))  
    scores_svm.append(get_score(svm.SVC(), X_train, X_test, y_train, y_test))
    scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_test, y_train, y_test))
print(f'Lreg scores: {scores_logistic}')
print(f'svm scores : {scores_svm} ')
print(f'Random forest scores : {scores_rf}')

Lreg scores: [1.0, 0.875, 0.75, 0.8, 0.8, 0.8, 0.9333333333333333, 0.9333333333333333, 0.8666666666666667, 0.8, 0.9333333333333333, 0.8, 0.8666666666666667, 0.8666666666666667, 0.8, 0.8666666666666667, 0.6666666666666666, 0.7333333333333333, 0.8666666666666667, 0.6]
svm scores : [0.875, 0.875, 0.75, 0.8666666666666667, 0.8, 0.7333333333333333, 0.9333333333333333, 0.9333333333333333, 0.8666666666666667, 0.8666666666666667, 0.8666666666666667, 0.8666666666666667, 0.8, 0.8, 0.8, 0.8666666666666667, 0.7333333333333333, 0.7333333333333333, 0.8666666666666667, 0.6]
Random forest scores : [0.8125, 0.875, 0.8125, 0.8666666666666667, 0.8, 0.9333333333333333, 0.8666666666666667, 1.0, 0.8666666666666667, 0.8, 0.8666666666666667, 0.8, 0.8, 0.5333333333333333, 0.8, 0.8, 0.7333333333333333, 0.7333333333333333, 0.9333333333333333, 0.7333333333333333]

In [36]:
scores_logistic[0]

1.0

# done !

In [37]:
best=[]

for train_index, test_index in folds.split(df,target):
   
    X_train, X_test, y_train, y_test = df.iloc[train_index], df.iloc[test_index], target.iloc[train_index], target.iloc[test_index]
    best.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))  
    
    break
print(f'heart disease data best score: {best}')

heart disease data best score: [1.0]